<nav class="headBar">
	
	<div class="logo white">
		<h1>CanchitaYa!</h1>
	</div>
	<div class="search">
		<label class="sr-only white" for="inputHelpBlock">En qué localidad querés jugar?</label><input id="input-search" class="form-control" type="text" name="search"><button class="btn btn-default">search</button>
	</div>
	<p class="white subtitle">Consigue tu cancha en segundos...</p>
</nav>



